/* ------------------------
	Linear Gradients
--------------------------- */

.box {
	width: 500px;
	height: 500px;
	margin: 35px auto;
	border-radius: 15px;

	background: -webkit-linear-gradient(45deg, red, orange, yellow 50%, green, cyan 75%, blue, violet);
}


