body {
  background: #336699;
  font-family: Futura, "Trebuchet MS", sans-serif; }
  body > h1 {
    font-size: 3em;
    color: #eee;
    margin: 5px 0 0 5px; }

.entry {
  background: white;
  margin: 5px;
  padding: 7.5px; }
  .entry h1 {
    font-size: 1.2em;
    margin: 0px; }
  .entry .date {
    font-size: 0.3em;
    color: #336699; }
  .entry a {
    color: #336699; }
