/************************************************
GENERAL
************************************************/
// fonts
@import url("//fonts.googleapis.com/css?family=Lato:300,400,500,700");

// reset
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

// box sizing
* {box-sizing:border-box;}

// clearfix
.group:after {content:"";display:table;clear:both;}

// colors
$color-background: #fff;
$color-primary: #47a3da;
$color-secondary: #becbd2;
$color-hover: #768e9d;
$color-purple: #9b59b6;
$color-green: #16a085;
$color-orange: #e67e22;
$color-red: #e74c3c;
$color-blue: #34495e;

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: $color-hover;
  background: $color-background;

  header,
  #content,
  footer, {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: $color-primary;

    &:hover {
      color: $color-hover;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  h1 {
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $color-primary;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: $color-primary;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 500;
    color: $color-primary;
  }

  h4 {
    font-size: 1em;
    font-weight: 300;
    color: $color-background;
    background: $color-primary;
    line-height: 1;
    padding: 0.25em;
    margin: 0.25em 0.125em;
    display:inline-block;
  }

  .purple {
    background: $color-purple;
  }
  .green {
    background: $color-green;
  }
  .orange {
    background: $color-orange;
  }
  .red {
    background: $color-red;
  }
  .blue {
    background: $color-blue;
  }
}



/************************************************
PRE-LOADING SCREEN
************************************************/
#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#pre-loader .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  z-index: 1000;
  background: $color-primary;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);

  &.section-left {
    left: 0;
  }

  &.section-right {
    right: 0;
  }
}

#loader-logo {
  display: block;
  position: relative;
  left: calc(50% - 20em/2);
  top: 15%;
  width: 20em;
  height: 9.375em;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/loading.svg');
  z-index: 1001;
}

#loader-circle {
  display: block;
  position: relative;
  left: 50%;
  top: 35%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $color-background;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-background;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color-background;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded {
  #pre-loader .loader-section {
    &.section-left {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &.section-right {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  #loader-logo,
  #loader-circle {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  #pre-loader {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
}

.no-js #pre-loader {
  display: none;
}



/************************************************
HEADER
************************************************/
header {
  padding-top: 2em;

  h1 {
    display: block; //TODO may not need
  }

  h2 {
    margin: .3em 0 0 0;
    padding: 0 0 0.4em 0;
    float: left;
    line-height: 1.6;
  }

  #social-nav {
    float: right;
    margin-top: 0.35em;
    line-height: 1.2;
    text-align: center;

    ul {
      list-style-position: inside;
    }

    li {
      display:inline-block;
    }

    a {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 2.5em;
      height: 2.5em;
      margin: 0 0.1em;
      border-radius: 50%;
      border: .25em solid $color-primary;
      background-position: center;

      &:hover {
        background: $color-primary;
      }

      &:hover:before {
        content: attr(data-info);
        color: $color-primary;
        font-weight: 400;
        position: absolute;
        width: 600%;
        top: 120%;
        text-align: right;
        right: 0;
        pointer-events: none;
      }

      p {
        display: none;
      }

      div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    i {
      font-size: 1.25em;
      margin:0;
      padding:0;
      color:inherit;
      display:inline-block;
      width:100%;
      text-align:center;
      vertical-align: middle;
      line-height: 1.55em
    }
    a:hover {
      color:#fff;
    }
  }

  @media screen and (max-width: 44.5em) {
    padding-bottom: .5em;

    h2,
    #social-nav {
      float: none;
    }

    h1,
    h2 {
      text-align: center;
    }

    h2 {
      line-height: 1.5;
    }

    #social-nav {
      margin: 0 auto;
    }
  }
}



/************************************************
NAVIGATION
************************************************/
#main-nav {
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;

  ul {
    display: inline-block;

    // handle grey line no selection
    &.none li {
      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 0.063em;
        right: 100%;
        bottom: 0;
        width: 600em;
        background: $color-secondary;
      }
      &:after {
        right: auto;
        left: 100%;
        width: 600em;
      }
    }
  }

  li {
    border: 0.063em solid $color-secondary;
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;

    // handle blue line selection
    &.selected {
      border: 0.063em solid $color-primary;
      box-shadow: inset 0 0.125em $color-primary;
      border-bottom: none;
      z-index: 2;

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 0.063em;
        right: 100%;
        bottom: 0;
        width: 600em;
        background: $color-primary;
      }

      &:after {
        right: auto;
        left: 100%;
        width: 600em;
      }

      a {
        color: $color-primary;
      }
    }
  }

  a {
    color: $color-secondary;
    display: block;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;

    &:hover {
      color: $color-hover;
    }
  }

  p {
    padding-left: 0.5em;
    display:inline-block;
  }


  @media screen and (max-width: 44.5em) {
    p {
      display: none;
    }

    a:before {
      margin-right: 0;
    }

    li {
      width: 9em;
      width: calc(9em + 0.063em);
    }
  }

  @media screen and (max-width: 30em) {
    ul,
    a {
      width: 100%;
      padding: 0;
    }

    li {
      width: 33.33333333%;
      width: calc(33.33333333% + 0.063em);
      margin: 0 0 0 -0.064em;
    }

    li:last-child {
      border-right: none;
    }
  }
}

.sub-index {
  margin: 0 auto;
  width: 90%;

  h2 {
    padding-top: 0.85em;
    padding-bottom: 0.5em;
    font-weight: 800;
  }
  ul {
    padding-top: 1em;
  }
  li {
    padding-bottom: 0.25em;
    line-height: 1.25;
  }
}



/************************************************
CONTENT - GENERAL
************************************************/
#content {
  padding-top: 0.3em;

  h3 {
    line-height: 1.7;
    padding-bottom: 0.7em;
  }

  p {
    line-height: 1.5;
    padding-bottom: 0.75em;
  }


  // section {
  //   display:none;
  // }

  a:hover {
    .tint:before {
      opacity: .2;
    }
  }

  figure {
    display: block;
  }

  img {
    width: 100%; /* fix for ie */
  }

  .tint {
    position: relative;
    float: left;
    cursor: pointer;
  }

  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-primary;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    transition: all .2s linear;
  }
}



/************************************************
CONTENT - PLAYGROUND
************************************************/
#playground {

  .text-box {
    padding: 0.35em;
    color: $color-hover;
    // background: $color-primary;

    h3 {
      word-break: normal;
      padding: 0 0 0.125em 0;
      line-height: 1.25;
      font-size: 1.0em;
      font-weight: 500;
      color:$color-primary;
      text-align:center;
    }

    h4 {
      display:none;

    }

    p {
      padding-top: 0.25em;
      line-height: 1.5;
      padding-bottom: 0.25em;
      display:none;
    }

    span {
      display: none;
    }
  }

  figure {
    border-bottom: 0.063em solid $color-secondary;
    margin-bottom: 0.5em;
    width:100%;
    background:$color-background;
  }

  .grid-item {
    width: 23%;
    float: left;
    border: 0.063em solid $color-secondary;
    // box-shadow: 0 2px 4px $color-hover;
    margin: 1%;

    @media screen and (max-width: 50em) {
      width: 31.3333333%;
    }

    @media screen and (max-width: 35em) {
      width: 47%;
      margin: 1.5%;
    }
  }
}

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);

  img {
    max-width: 90%;
    height: 40%;
    width: auto;
    margin: 0 auto;
    max-height: 80%;
    margin-top: 5%;
  }

  .text-box {
    display:block;
    width: 50%;
    max-width: 30em;
    margin: 0 auto;
    color:$color-secondary;

    h3 {
      word-break: normal;
      padding: 0.5em;
      font-size: 2em;
      line-height: 1.25;
      color:$color-background;
      text-align:center;
    }

    h4 {
      font-size: 1.25em;
    }

    p {
      padding-top: 0.25em;
      line-height: 1.5;
      padding-bottom: 0.5em;
    }

    span {
      display: none;

      &.link {
        display:inline-block;
        color: $color-primary;
        &:hover {
          color: $color-hover;
        }
      }
    }
    @media screen and (max-width:44.5em) {
      width: 90%;

      h3 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 1.0em;
      }
      p {
        font-size: 0.75em;
      }
    }
  }
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}



/************************************************
CONTENT - DOCUMENTS
************************************************/
#documents {
  .nested-accordion {
    margin-top: 0.5em;
    cursor: pointer;

    h3 {
      padding: 0 0.5em;
    }
    .comment {
      line-height: 1.5;
      padding: 0.5em;
    }

    h3 {
      color: $color-primary;

      &:before {
        content: "+";
        padding-right: 0.25em;
        color: $color-secondary;
        font-size: 1.5em;
        font-weight: 500;
        font-family: "Lucida Console", Monaco, monospace;
        position: relative;
        right: 0;
      }

      &.selected {
        background:$color-primary;
        color:$color-background
      }
      &.selected:before {
        content: "-";
      }
    }

    .comment {
      color: $color-hover;
      border: 0.063em solid $color-primary;
      border-top:none;
    }
  }
}


/************************************************
CONTENT - ABOUT
************************************************/
#about {
  padding-top: 0.5em;

  li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom : 0.063em solid $color-secondary;
  }

  li:last-child {
    border: none;
  }

  figure {
    margin-bottom: 1em;
  }

  @media screen and (min-width:31.5em) {
    li {
      display: inline-block;
    }

    figure, .text-box {
      float: left;
    }

    figure {
      margin: 0;
      width: 30%;
    }

    .text-box {
      padding-left: 1em;
      width: 70%;
    }
  }
}

#overlay {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  z-index: 200;

  img {
    margin: 5% auto;
    width: 85%;
    max-width: 60em;
    -moz-box-shadow: 0 0 200em 200em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 200em 200em rgba(0, 0, 0, .8);
    box-shadow: 0 0 200em 200em rgba(0, 0, 0, .8);
  }

}

/************************************************
FOOTER
************************************************/
footer {
  padding: 3em 0;

  p {
    text-align: center;
    color: $color-secondary;
  }
}

/************************************************
ERROR
************************************************/
.error {
  text-align: center;
  p {
    padding-top: 0.5em;
  }
  span {
    font-size: 1.25em;
  }
}



