
body {
  margin-bottom: 60px;
}
button {
  vertical-align: middle;
  height: 50px;
}

body > .container {
  padding: 60px 15px 0;
}

.navbar-brand {
  float: none;
  /*text-align: center;*/

}

.nav > li {
  display: inline-block;
}
.nav > a {
  display: inline-block;
}