
@mixin box($size: 10px, $color: black, $display: block) {
	width: $size;
	height: $size;
	background: $color;
	display: $display;
}

.box {
	@include box($display: inline);
}





@mixin band($name, $members...) {
	@each $member in $members {
		.#{$name}.#{$member} {
			background: url("images/#{$name}/#{$member}.jpg")
		}
	}
}

@include band(radiohead, thom, jonny, colin, phil);
@include band(nin, trent);