# redirect
RewriteEngine on
RewriteBase /

# ethanneff to eneff

# force https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# force www
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# main should redirect to playground
RewriteRule ^$ playground/ [R=301]
# RewriteRule ^$ _ / [R=301]

# prevent unauthorized access to directories
RewriteRule ^error/$ ./ [R=301]
RewriteRule ^inc/$ ./ [R=301]
RewriteRule ^img/$ ./ [R=301]
RewriteRule ^css/$ ./ [R=301]
RewriteRule ^fonts/$ ./ [R=301]
RewriteRule ^js/$ ./ [R=301]
RewriteRule ^archive/$ ./ [R=301]
RewriteRule ^playground/html/$ ./ [R=301]
RewriteRule ^playground/css/$ ./ [R=301]
RewriteRule ^playground/php/$ ./ [R=301]

# custom error pages
ErrorDocument 401 /error/401/index.php
ErrorDocument 403 /error/403/index.php
ErrorDocument 404 /error/404/index.php
ErrorDocument 500 /error/500/index.php

