RewriteEngine On
RewriteBase /apps/portfolio/www/app/components/playground/apps/php/php_shirts_4_mike/

# redirect .php files to subdirectories
RewriteRule ^shirts/$ shirts/shirts.php
RewriteRule ^shirts/([0-9]+)/$ shirts/shirt.php?id=$1
RewriteRule ^(shirts/[0-9]+)$ $1/ [R=301]

# redirect old pages to the new subdirectories
RewriteRule ^receipt.php$ receipt/ [R=301]
RewriteRule ^contact.php$ contact/ [R=301]
RewriteRule ^shirts.php$ shirts/ [R=301]

RewriteCond %{QUERY_STRING} ^id=([0-9]+)$
RewriteRule ^shirt.php$ /shirts/%1/? [R=301]